html, body
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    box-sizing: border-box;
    margin: 0;
}
.mrg-bottom
{
  margin-bottom: 15px;
}

.cls-iframe
{
    width: 100%;
    height: 500px;
    border: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.content
{
  position: absolute;
  top: 600px;
  width: 100%;
  left: 0px;
}
.content-center
{
    width: 50%;
    margin: 0 auto;
}
.map-overlay-newmarker
{
    /* cursor: pointer; */
    cursor: move;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    border: 0px;
    /* position: absolute; */
    top: 0px;
    left: 0px;
    z-index: 1;
    background: #00ce2d;
    z-index: 1;
}
.map-overlay-marker
{
    /* cursor: pointer; */
    cursor: move;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    border: 0px;
    /* position: absolute; */
    top: 0px;
    left: 0px;
    z-index: 1;
    background: #ce0090;
    z-index: 1;
}
.map-overlay-popupmarker
{
    cursor: pointer;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    border: 0px;
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 1;
    background: #008cff;
    z-index: 3;
    
}
.map-overlay-popupmarker::after
{
  content: "\2192";
  color: #fff;
}
.ol-popup 
{
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: 0px;
    min-width: 280px;
    z-index: 3;
    display: none;
    transition: all 0.5s;
  }
  .ol-popup:after, .ol-popup:before 
  {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after 
  {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before 
  {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer 
  {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after 
  {
    content: "✖";
    z-index: 4;
    cursor: pointer;
  }
  .ol-popup-closer:hover
  {
    opacity: 0.5;
  }

  .ol-popup-h3
  {

  }

  .ol-popup-p
  {

  }

  .butt-regular {
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
  }
  .butt-regular:hover {
    background-color:#ffffff;
    color: #338f4c;
  }
  .butt-regular:active {
    position:relative;
    top:1px;
  }
  .input-txt
  {
    border: 0;
    border-bottom: solid 1px #8a8a8a;
    width: 280px;
    height: 20px;
  }
  .input-span
  {
    display: block;
  }
  .input-button
  {
    background-color:#ce0090;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;
    border:none;
    display:block;
    cursor:pointer;
    color:#ffffff;
    font-size:1.0em;
    padding:6px 20px;
    text-decoration:none;
  }
  .input-button:active
  {
    background-color:#cf7bb6;
  }
  .input-button:hover
  {
    background-color:#cf7bb6;
  }
  .delete-button
  {
    background-color: #2dceff;
  }
  .modal-overall
  {
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0px;
    left: 0px;
    /* display: none; */
  }
  .modal-centrediv
  {
    margin: 0 auto;
    width: 30%;
  }
  .modal-modaldiv
  {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    min-width: 280px;
    z-index: 3;
    top: 150px;
    /* display: none; */
    transition: all 0.5s;
    z-index: 10;
  }
  .modal-modaldiv-backgr
  {
    background: #000;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.5;
  }

  /* NAVIGATION */
  #header
  {
    position: absolute;
    z-index: 10;
  }
  #nav
  {

  }
  .logo
  {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  /* UL */
  .nav-list
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  /* LI */
  .nav-list-item
  {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
  }
  .nav-list-item:hover
  {
    color: #008cff;
  }